<div class="ui inverted black footer vertical segment">
  <div class="container" >
    <div class="ui stackable inverted divided relaxed grid">
      <div class="eight wide column">
        <h3 class="ui inverted header">数据库测试用</h3>
        <p>     开发RDS是个不小的任务</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
          <button type="submit" class="ui teal button">现在支持</button>
        </form>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header">贡献</h5>
        <div class="ui inverted link list">
          <a class="item" href="https://www.transifex.com/organization/semantic-org/" target="_blank">翻译中心</a>
          <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">问题追踪</a>
          <a class="item" href="/cla.php" target="_blank">CLA</a>
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254125219'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254125219' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header">Semantic 网络</h5>
        <div class="ui inverted link list">
          <a class="item" href="http://legacy.semantic-ui.com">传统文档</a>
          <a class="item" href="http://www.learnsemantic.com">学习 Semantic</a>
          <a class="disabled item">Semantic 主题</a>
          <a class="item" href="http://www.miitbeian.gov.cn/">粤ICP备14012613号-1</a>
		 	<div style="width:300px;margin:0 auto; padding:5px 0;">
<!-- http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=62010002000159 -->
		 		<a target="_blank" href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="gaba.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">甘公网安备 62010002000159号</p></a>
		 	</div>
        </div>
      </div>
    </div>
  </div>
</div>