<div class="ui page grid">
    <div class="column">
        <div class="ui menu fixed" >
{#                    <div class="ui   container" >#}
                        <div class="item" style="padding: 0px 0px 0px 400px">
                        </div>
                        <a class="conleftside item" onclick=changesidebar()>
                                <i class="home icon"></i>
                                <span class="text">菜单</span>
                        </a>
                        <div class="item" style="padding: 0px 0px 0px 400px">
                        </div>
                        <a class="item">
                            <div class="ui icon input">
                                <input placeholder="搜索..." type="text">
                                <i class="search icon"></i>
                            </div>
                        </a>
                        <a class="item">
                                <i class="ui  icon"></i>
                                <span class="text">logout</span>
                        </a>
                        <a class="item">
                                <i class="help icon"></i>
                                <span class="text">帮助</span>
                        </a>
{#                    </div>#}
        </div>
    </div>
</div>