<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/semantic.js"></script>
    <link href="../static/css/semantic.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="ui grid">
    <div class="row">
    <div class="ui inverted segment">
        <div class="one wide column">

                <div class="ui inverted vertical menu">
                  <div class="item">
                    <div class="ui input"><input placeholder="Search..." type="text"></div>
                  </div>
                  <div class="item">
                    <i class="home icon"></i> 主页
                    <div class="menu">
                      <a class="active item">搜索</a>
                      <a class="item">添加</a>
                      <a class="item">移除</a>
                    </div>
                  </div>
                  <a class="item">
                    <i class="grid layout icon"></i> 浏览
                  </a>
                  <a class="item">
                    <i class="mail icon"></i> 信息
                  </a>
                  <div class="ui dropdown item">
                    <i class="dropdown icon"></i>
                    更多
                    <div class="menu">
                      <a class="item"><i class="edit icon"></i> 修改资料</a>
                      <a class="item"><i class="globe icon"></i> 选择语言</a>
                      <a class="item"><i class="settings icon"></i> 账户信息</a>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>