<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %} 数据库调试 {% endblock %}</title>
    {% include 'linkjs.html' %}
    {% include 'linkcss.html' %}
</head>
<body>
    {% block leftsidebar %}     {% include 'leftsidebar.html' %}    {% endblock %}
    {% block head %} {% include 'head.html' %} {% endblock %}
    <div class="floating pusher">
        <div class="self-main">
        <div class="self-content">
            {% block  nav  %}   {% include 'nav.html' %} {% endblock %}
            <div class="ui  grid">
                <div class="column">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        </div>
    </div>
            <div class="foot">
            {% block  foot %}
                {% include 'foot.html' %}
            {% endblock %}
            </div>
</body>
</html>