<div class="ui inverted black footer vertical segment">
  <div class="container" >
    <div class="ui stackable inverted  relaxed grid">
      <div class="four wide column">
      </div>
      <div class="eight wide column">
        <h5 class="ui inverted header">数据库测试用</h5>
        <p>     开发数据库服务中间件是个不小的任务</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
        </form>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header">北京计算机技术及应用研究所 </h5><span>版权所有</span>
      </div>
    </div>
  </div>
</div>