<div class="ui grid">


    <div class="column">
        <div class="ui   menu fixed" >
            <div class="ui  container " style="padding-left: 350px">
                        <a class="ui conleftside item" onclick=changesidebar()>
                                <i class="ui home icon"></i>
                                <span class="ui text">菜单</span>
                        </a>
                        <div class="ui icon input">
                                <input placeholder="搜索..." type="text">
                                <i class="search icon"></i>
                        </div>
            </div>
            <div class="ui left container" style="padding: 0px 0px 0px 350px">
                        <a class="ui logout item" >
                            <i class="ui delete icon"></i>
                            <span class="text">logout</span>
                        </a>
            </div>

            <div class="ui left container">
                        <a class="ui help item">
                                <i class="help icon"></i>
                              <span class="text">帮助</span>
                        </a>

            </div>
        </div>
    </div>
</div>