    <div class="ui visible inverted right thin vertical sidebar menu">
        <div class="ui inverted padded center aligned segment">
            <div class="item">
                <a class="ui logo icon image" >
                    <img class="ui center tiny  circular image" src="../static/img/logo.png">
                </a>
                <br/><br/>
                <a class="centered"><b>数据库调试</b></a>
            </div>
        </div>
        <div class="ui inverted accordion">
          <div class="active title"> <a class="item"><i class="home icon"></i> 数据库管理</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i> 实例管理 </a>
              <a class="item"><i class="block layout icon"></i> 数据库管理 </a>
              <a class="item"><i class="smile icon"></i> 用户管理 </a>
              <a class="item"><i class="calendar icon"></i> 备份管理 </a>
          </div>
            <div class="active title"> <a class="item"><i class="home icon"></i> 应用管理</a></div>
          <div class="content">
              <a class="item"><i class="home icon"></i> 镜像管理 </a>
          </div>
        </div>
    </div>