<div class="ui createdbinstance modal">
  <i class="close icon"></i>
  <div class="header">
   创建数据库实例
  </div>
  <div class="content">
      <div class="ui form segment" >
          <form action={% url 'createdbinstance' %} method="POST">
              {% csrf_token %}
          <div class="three fields">
            <div class="field">
              <label>实例名称</label>
              <input placeholder="First Name" type="text" name="DBInstanceName">
            </div>
            <div class="field">
              <label>实例ID</label>
              <input placeholder="Last Name" type="text" name="DBInstanceId">
            </div>
              <div class="field">
              <label>状态</label>
              <input placeholder="Last Name" type="text" name="DBInstancestatus">
            </div>
          </div>




{#         <div class="field">#}
{#           <label>实例状态</label>#}
{#           <div class="ui selection dropdown">#}
{#             <div class="default text">选择</div>#}
{#                <i class="dropdown icon"></i>#}
{#               <select  name="DBInstancestatus" >#}
{#                    <option value="volvo">Volvo</option>#}
{#                    <option value="saab">Saab</option>#}
{#                    <option value="fiat">Fiat</option>#}
{#                    <option value="audi">Audi</option>#}
{#               </select>#}
{#            </div>#}
{#          </div>#}
          <button type="submit" class="ui submit button">提交</button>
          </form>
      </div>
  </div>
</div>