<div class="ui deletedbinstance modal">
  <i class="close icon"></i>
  <div class="ui center header">
   删除数据库实例
  </div>
  <div class=" content">
      <div class="ui form segment" >
          <form action={% url 'deletedbinstance' %} method="POST">
              {% csrf_token %}
             <div class="ui grid">
                 <div class="six wide column"></div>
                 <div class="eight wide column"><h1>确定删除该实例？</h1></div>
                 <div class="two wide column"></div>
                 <div class="twelve wide column"></div>
                 <div class="four wide column"><button type="submit" class="ui submit button">确认删除</button> </div>
              </div>
          </form>
      </div>
  </div>
</div>